__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env
.DS_Store

# Local caches
*.log
*.tmp
backup/

# Large datasets
data/mnist/
data/cifar10/
data/cifar-10-batches-py/

# Large archives
*.zip
*.tar
*.gz
*.7z
